In [1]:
import pandas as pd
import numpy as np         
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, precision_score, f1_score, roc_auc_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [4]:
data = pd.read_csv('tel_churn.csv')
data.head()

   Unnamed: 0  SeniorCitizen  ...  tenure_group_49 - 60  tenure_group_61 - 72
0           0              0  ...                     0                     0
1           1              0  ...                     0                     0
2           2              0  ...                     0                     0
3           3              0  ...                     0                     0
4           4              0  ...                     0                     0

[5 rows x 52 columns]

In [ ]:
data = data.drop(columns=['Unnamed: 0'], axis=1)

In [7]:
data.head()

   SeniorCitizen  MonthlyCharges  ...  tenure_group_49 - 60  tenure_group_61 - 72
0              0           29.85  ...                     0                     0
1              0           56.95  ...                     0                     0
2              0           53.85  ...                     0                     0
3              0           42.30  ...                     0                     0
4              0           70.70  ...                     0                     0

[5 rows x 51 columns]

In [8]:
#make a copy of data
df = data.copy()

In [11]:
#create x and y variables
x = df.drop('Churn', axis=1)
y = df['Churn']

In [12]:
#split data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

Modelling (Decission Tree Classifier)

In [15]:
#using decision tree classifier
dtc = DecisionTreeClassifier(class_weight='balanced', random_state=42)   

#fit the model
dtc.fit(x_train, y_train)

#make predictions
y_pred = dtc.predict(x_test)
print(classification_report(y_test, y_pred))

#calculate ROC AUC score
y_pred_proba = dtc.predict_proba(x_test)[:,1]
print("ROC AUC Score:", roc_auc_score(y_test, y_pred_proba))

              precision    recall  f1-score   support

           0       0.81      0.80      0.80      1033
           1       0.46      0.48      0.47       374

    accuracy                           0.71      1407
   macro avg       0.64      0.64      0.64      1407
weighted avg       0.72      0.71      0.72      1407

ROC AUC Score: 0.639574522055588

In [ ]:
# from imblearn.under_sampling import RandomUnderSampler

# rus = RandomUnderSampler(random_state=42)
# x_train_rus, y_train_rus = rus.fit_resample(x_train, y_train)